@media only screen and (max-width: 51.875em) {
  .header__nav {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 43.75em) {
  html {
    font-size: 50%;
  }

  .header {
    clip-path: none;
  }

  .hero__img-box {
    display: none;
  }

  .main {
    margin-top: -7rem;
  }

  .creative__section {
    padding: 2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .nav__link:link,
  .nav__link:visited {
    font-size: 2.3rem;
  }

  .nav__links {
    /* display: none; */
    flex-direction: column;
    gap: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .nav__box {
    transform: translateX(100vw);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 75vw;
    z-index: 999;
    background-color: #fdd3d7;
    transition: all 0.4s ease-in;
  }

  .nav__open {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    transition: all 0.4s ease-in;
  }

  .menu__open {
    height: 1.5rem;
    width: 3rem;
    /* display: block; */
    z-index: 9999;
    /* opacity: 1;
    visibility: visible; */
  }

  .btn__box {
    display: block;
    z-index: 99999;
  }

  .menu__close {
    height: 2.2rem;
    width: 2.2rem;

    z-index: 9999;
  }

  .faq__section {
    grid-template-columns: 1fr;
  }

  .faq {
    text-align: center;
  }

  .gist__box {
    grid-template-columns: 1fr 1fr;
  }

  .gist__text-box--3 {
    grid-row: auto;
    grid-column: auto;
  }

  /* .creative__section {
    flex-direction: row;
  } */

  .creative__box {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .creative__img-box--1,
  .creative__img-box--3,
  .creative__img-box--4 {
    display: none;
  }

  .creative__img-box--2 {
    width: 50%;
  }

  .footer__box {
    font-size: 1.2rem;
    /* grid-template-columns: repeat(5, 1fr); */
  }
}

@media only screen and (max-width: 28.125em) {
  .footer__box {
    display: none;
  }
}

@media only screen and (max-width: 21.85em) {
  html {
    font-size: 43.75%;
  }

  .heading__text {
    font-size: 1.6rem;
  }
}
